ion-toolbar ionx-select.select {
    color: var(--ion-toolbar-color);
    --icon-color: var(--ion-toolbar-color);
}

ionx-select.in-item {
    position: static;
//    max-width: 45%
}

.item-label-stacked ionx-select.select {
    align-self: flex-start;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 0;
    width: 100%;

    .select-text {
        max-width: calc(100% - 16px);
        flex: initial;
    }
}

ionx-select {
    padding: var(--padding-top) var(--padding-end) var(--padding-bottom) var(--padding-start);
    display: inline-block;
    overflow: hidden;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    max-width: 100%;

    .select-inner {
        display: flex;
        position: relative;
    }

    &.select-disabled {
        opacity: .4;
        pointer-events: none;
    }

    &.select-readonly {
        opacity: 1;
        pointer-events: none;

        .select-icon {
            display: none;
        }
    }

    &[white-space-normal] .select-text {
        white-space: normal !important;
    }
}

ionx-select-overlay {
    ion-label {
        white-space: normal !important;
    }

    ion-item-divider {
        --padding-top: 16px;
    }

    .ionx-select-overlay-spinner {
        position: absolute; 
        width: 100%; 
        height: 100%;
        left: 0px;
        top: 0px;

        ion-spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    ion-checkbox {
        margin-right: 16px;
    }

    ion-item.item:last-child {
        --border-width: 0px;
    }

    ion-list.list {
        margin: 0px;
        padding: 0px;
    }
}

ion-popover ionx-select-overlay ion-content {
    --overflow: initial !important;
}

.md {
    @import "~@ionic/core/dist/collection/components/select/select.md.vars.scss";

    ionx-select {
        @import "~@ionic/core/dist/collection/components/select/select.md.scss";

        --color: #{$select-md-text-color};
        --icon-color: #{$select-md-icon-color};
        --padding-top: #{$select-md-padding-top};
        --padding-end: #{$select-md-padding-end};
        --padding-bottom: #{$select-md-padding-bottom};
        --padding-start: #{$select-md-padding-start};
        --placeholder-color: #{$select-md-placeholder-color};

        .select-icon {
            width: 16px;
            height: 19px;
        }
    }
    
    ion-toolbar ionx-select {
        --padding-start: 12px;
        --padding-end: 12px;
    }

    .ionx-select-overlay-width .popover-content {

        @media (max-width: 767px) {
            width: calc(100% - (32px + var(--ion-safe-area-right, 0px) + var(--ion-safe-area-left, 0px)));
        }
    }
}

.ios {
    @import "~@ionic/core/dist/collection/components/select/select.ios.vars.scss";
    @import "~@ionic/core/dist/collection/components/item/item.ios.vars.scss";
    @import "~@ionic/core/dist/collection/components/list-header/list-header.ios.vars.scss";

    ionx-select {
        @import "~@ionic/core/dist/collection/components/select/select.ios.scss";
        --color: #{$select-ios-text-color};
        --icon-color: #{$select-ios-icon-color};
        --padding-top: #{$select-ios-padding-top};
        --padding-end: #{$select-ios-padding-end};
        --padding-bottom: #{$select-ios-padding-bottom};
        --padding-start: #{$select-ios-padding-start};
        --placeholder-color: #{$select-ios-placeholder-color};

        .select-icon {
            width: 12px;
            height: 18px;
        }
    }
    
    ion-toolbar ionx-select {
        --padding-start: 12px;
        --padding-end: 12px;
    }

    ionx-select-overlay {
        ion-item-divider {
            --background: transparent;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-bottom: $item-ios-border-bottom;
            font-weight: 500;
            --color: #{$list-ios-header-color};
        }
    }

    .ionx-select-overlay-width .popover-content {
        
        @media (max-width: 767px) {
            width: calc(100% - (10px + var(--ion-safe-area-right, 0px) + var(--ion-safe-area-left, 0px)));
        }
    }
}
