ionx-pseudo-input {
    padding: var(--padding-top) var(--padding-end) var(--padding-bottom) var(--padding-start);
    display: block;
    overflow: hidden;
    user-select: text;
}

.item-label-stacked ionx-pseudo-input {
    align-self: flex-start;
    --padding-top: 9px;
    --padding-bottom: 9px;
    --padding-start: 0;
}
