@import "ionic.theme.default.md";
@import "ionic.theme.default.ios";
@import "ionic.components";

@import "./trix-base";

ionx-trix-editor {
  display: block;

  trix-toolbar {
    .button_row {
      flex-wrap: wrap;
    }
  }
}

.item-input ionx-trix-editor {
    width: 100%;

    trix-editor {
        border: none;
        padding: 0px;
        overflow: auto;
    }
}

.item-md.item-input ionx-trix-editor {
    margin: $text-input-md-margin-top $text-input-md-margin-right $text-input-md-margin-bottom $text-input-md-margin-left;
}
