:host {
    //--background-color: var(--ion-background-color, #ffffff);
    //--foreground-color: var(--ion-text-color);
    //--border-color: var(--ion-border-color);

    --dialog--background-color: var(--background-color, var(--ion-background-color, #ffffff));
    --dialog--foreground-color: var(--foreground-color, var(--ion-text-color));
    --dialog--border-color: var(--border-color, var(--ion-border-color));

    display: flex;
    contain: content;
    position: relative;
    color: var(--dialog--foreground-color);
}

:host-context(.md) {
    --dialog--message-font-size: 16px;
    --dialog--header-font-size: 20px;
    --dialog--text-align: left;
}

:host-context(.ios) {
    --dialog--message-font-size: 15px;
    --dialog--header-font-size: 18px;
    --dialog--text-align: center;
    --dialog--buttons-align: center;
    --dialog--header-font-weight: 500;
}
