:host {
    //--background-color: var(--ion-background-color, #ffffff);
    //--foreground-color: var(--ion-text-color);
    //--border-color: var(--ion-border-color);

    --dialog--background-color: var(--background-color, var(--ion-background-color, #ffffff));
    --dialog--foreground-color: var(--foreground-color, var(--ion-text-color));
    --dialog--border-color: var(--border-color, var(--ion-border-color));

    display: flex;
    contain: content;
    position: relative;
    color: var(--dialog--foreground-color);

    [ionx--content] {
        background: var(--dialog--background-color, #ffffff);
        color: var(--dialog--foreground-color);
    }

    [ionx--message] {
        font-size: var(--dialog--message-font-size);
        text-align: var(--dialog--text-align);
        margin: 16px 16px 24px 16px;
    }

    [ionx--header] {
        font-size: var(--dialog--header-font-size);
        font-weight: var(--dialog--header-font-weight, 500);
        margin: 16px;
        text-align: var(--dialog--text-align);
    }

    ion-footer {

        ion-toolbar {
            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 0px;
            --padding-bottom: 0px;
            --min-height: none;
            --ion-safe-area-bottom: 0px;
            --ion-safe-area-top: 0px;
            --ion-safe-area-start: 0px;
            --ion-safe-area-end: 0px;
            --ion-toolbar-background: var(--dialog--background-color, #ffffff);
            --ion-toolbar-background-color: var(--dialog--background-color, #000000);
            --ion-toolbar-color: var(--dialog--foreground-color, #000000);
        }

        ionx-buttons {
            justify-content: var(--dialog--buttons-align, flex-end);
        }

        ion-button {
            min-height: 44px;
        }

        ion-button:not(:last-child) {
            font-weight: 400;
        }

        ion-button:last-child {
            font-weight: 500;
        }
    }
}

:host-context(.md) {
    --dialog--message-font-size: 16px;
    --dialog--header-font-size: 20px;
    --dialog--text-align: left;

    ion-footer {
        ion-toolbar {
            --padding-bottom: 8px;
        }

        &::before {
            display: none;
        }
    }
}

:host-context(.ios) {
    --dialog--message-font-size: 15px;
    --dialog--header-font-size: 18px;
    --dialog--text-align: center;
    --dialog--buttons-align: center;
    --dialog--header-font-weight: 500;

    ion-footer {
        
        ion-button {
            flex: 1;
        }

        ion-button:not(:first-child) {
            border-left: 0.55px solid var(--dialog--border-color);
        }
    }
}
