@import "../node_modules/ionic-angular/components/searchbar/searchbar.ios";
@import "../node_modules/ionic-angular/components/searchbar/searchbar.md";

.searchbar.ionx-expanding-searchbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;

    &.searchbar-ios {
        left: $searchbar-ios-padding-horizontal + $toolbar-ios-padding;
    }

    &.searchbar-md {
        left: $searchbar-md-padding-start + $toolbar-md-padding;
        top: $toolbar-md-padding;
    }

    &.ionx-expanding-searchbar-expanded {
        transition: width 250ms ease-in;

        &.searchbar-ios {
            width: calc(100% - #{($toolbar-ios-padding + $searchbar-ios-padding-horizontal) * 2});
        }

        &.searchbar-md {
            width: calc(100% - #{($toolbar-md-padding + $searchbar-md-padding-start) * 2});
        }
    }

    &:not(.searchbar-show-cancel) .searchbar-clear-icon {
        display: block !important;
    }

    &.searchbar-ios.searchbar-show-cancel.searchbar-ios-cancel {
        display: block !important;
    }
}

.ionx-expanding-searchbar-parent {
    & > *:not(.toolbar-content):not(.toolbar-background) {
        visibility: hidden !important;
    }

    & > .toolbar-content > *:not(.ionx-expanding-searchbar) {
        visibility: hidden !important;
    }
}