@import "../node_modules/ionic-angular/components/input/input";
@import "../node_modules/ionic-angular/components/input/input.ios";
@import "../node_modules/ionic-angular/components/input/input.md";

@import "../node_modules/trix/dist/trix";

ionx-trix-editor {
    display: block;

    trix-toolbar {
        .trix-button-row {
            flex-wrap: wrap;
        }
        .trix-button {
            background-color: #fff;
        }
    }
}

.item-input ionx-trix-editor {
    width: 100%;

    trix-editor {
        border: none;
        padding: 0px;
        overflow: auto;
    }
}

.item-md.item-input {
    
    ionx-trix-editor {
        margin: 0px $text-input-md-margin-right $text-input-md-margin-bottom $text-input-md-margin-left;

        trix-toolbar {
            padding-top: $text-input-md-margin-top;
        }
    }

    &.item-label-stacked ionx-trix-editor, &.item-label-floating ionx-trix-editor {
        @include margin(0px, null, 8px, 0);
        width: calc(100% - #{$text-input-md-margin-end});

        trix-toolbar {
            padding-top: 8px;
        }
    }
}

.item-ios.item-input {

    ionx-trix-editor {
        margin: $text-input-ios-margin-top $text-input-ios-margin-right $text-input-ios-margin-bottom $text-input-ios-margin-left;

        trix-toolbar {
            padding-top: $text-input-ios-margin-top;
        }
    }

    &.item-label-stacked ionx-trix-editor, &.item-label-floating ionx-trix-editor {
        @include margin(8px, null, 8px, 0);
        width: calc(100% - #{$text-input-ios-margin-end});

        trix-toolbar {
            padding-top: 8px;
        }
    }
}