:host ::ng-deep .ProseMirror {
    outline: none;
    user-select: text;
    -webkit-user-select: text;

    &[contenteditable=true] {
        min-height: 60px;
        white-space: pre-wrap;
        word-wrap: break-word;

        .ionx--selected {
            border: 4px solid var(--ion-color-primary);
        }

        .ionx--interactive {
            display: none;
        }
    }

    p {
        margin: 16px 0px 0px 0px;
    }

    p:first-child {
        margin-top: 0px;
    }

    h1 {
        font-size: 130%;
    }

    h2 {
        font-size: 125%;
    }

    h3 {
        font-size: 120%;
    }

    h4 {
        font-size: 115%;
    }

    h5 {
        font-size: 110%;
    }

    h6 {
        font-size: 105%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin-top: 0px;
    }

    ul:first-child {
        margin-top: 0px;
    }
}
