ionx-quill-editor {
    .ql-container .ql-editor {
        min-height: 200px;
        padding-bottom: 50px;
    }
}

ion-item ionx-quill-editor {
    margin: 8px 0px;

    .ql-toolbar {
        white-space: normal;
    }

    .ql-editor p {
        color: $text-color;
        font-size: initial;
    }

    .ql-editor {
        max-height: 400px;

        @media(max-height: 400px) {
            max-height: 200px;
        }

        @media(max-height: 600px) {
            max-height: 300px;
        }
    }
}
