ion-grid[ionx-form-grid], form > ion-grid, [ionx-form-helper] > ion-grid {
    --ion-grid-padding: 8px;
    --ion-grid-column-padding: 8px;
}

ionx-form-item {
    display: flex;
    flex-direction: column;

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
    }
}

ionx-form-item-error, ionx-form-item-hint {
    display: flex;
    align-items: center;
    margin: 8px 0px 0px 0px;

    & > label {
        flex: 1;
        font-size: smaller;
    }

    & > ion-icon {
        margin-top: 0px !important;
        margin-right: 8px;
        min-height: initial;
        width: 16px;
    }
}

ionx-form-item-error {
    color: var(--ion-color-danger);
}

ionx-form-item-hint {
    color: var(--ion-color-medium);
}

ionx-form-heading {

    ion-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 16px;
        --inner-padding-start: 16px;

        & > ion-label {
            opacity: 0.6;
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}

.ios ionx-form-heading {

    ion-item {

        &.item-label > ion-label {
            opacity: 0.8;
            font-size: 0.8rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

}

ion-grid ionx-form-heading {

    ion-item {
        --padding-start: 8px;
        --padding-end: 8px;
        --inner-padding-end: 0px;
        --inner-padding-start: 0px;
    }
}
