:host {
    display: block;
    margin-top: 16px;

    ::ng-deep ion-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 16px;
        --inner-padding-start: 16px;
    }

    ::ng-deep ion-item > ion-label {
        font-weight: 500;

        &[size=large] {
            font-size: large;
        }

        &[size=small] {
            font-size: small;
        }
    }

    [ionx--under]:not(:empty) {
        padding: 8px 16px;
    }

    &[sticky]:not([sticky=false]) {
        position: sticky;
        top: 0px;
        z-index: 3;
    }
}

:host-context(ion-grid) {

    ::ng-deep ion-item {
        --padding-start: 8px;
        --padding-end: 8px;
        --inner-padding-end: 0px;
        --inner-padding-start: 0px;
    }

    [ionx--under]:not(:empty) {
        padding: 8px;
    }
}

:host-context(.ios) {

    ::ng-deep ion-button {
        height: auto;
    }

}
