:host {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 0px;
    --padding-end: 0px;

    .ionx--input {
        padding-top: var(--padding-top, 10px);
        padding-bottom: var(--padding-bottom, 9px);
        padding-left: var(--padding-start);
        padding-right: var(--padding-end);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 0;
        outline: none;
        user-select: none;
        pointer-events: none;
    }

    &:not(.ionx--placeholder-visible) {
        &.ionx--disabled, &.ionx--readonly {
            .ionx--input {
                user-select: text;
                pointer-events: initial;
            }
        }
    }

    &.ionx--placeholder-visible, &.ionx--disabled {
        .ionx--input {
            opacity: var(--placeholder-opacity, var(--ionx-placeholder-opacity, .5));
        }
    }
}

:host-context(.md) {
    --padding-bottom: 11px;
}

:host-context(.item-label-stacked) {
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 9px;
    --padding-bottom: 9px;
}

:host-context(.ios) .native-input {
    --padding-top: 9px;
    --padding-bottom: 8px;
}
