:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    --spinner--backdrop-background-color: var(--backdrop-background-color, #000);
    --spinner--backdrop-opacity: var(--backdrop-opacity, .1);

    ion-backdrop {
        opacity: var(--spinner--backdrop-opacity);
        background-color: var(--spinner--backdrop-background-color);
    }

    &[fill] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    &[always-on-top] {
        z-index: 100000;
    }

    &.ionx--backdrop-visible {

        ion-backdrop {
            z-index: 1;
        }

        ion-spinner {
            z-index: 2;
        }
    }
}
