@import "~@ionic/angular/dist/components/item/item.vars";
@import "~@ionic/angular/dist/components/item/item.ios.vars";
@import "~@ionic/angular/dist/components/item/item.md.vars";
@import "~@ionic/angular/dist/components/item/item.mixins";

ion-item-collapsible, ionx-item-collapsible {

    & > .item.item-block:first-child {

        .item-inner {
            padding-right: 32px;
            background-position: right 14px center;
            background-repeat: no-repeat;
            background-size: 14px 14px;        
        }

        &.item-ios .item-inner {
            @include svg-background-image($item-ios-detail-push-svg, true);
        }

        &.item-md .item-inner {
            @include svg-background-image($item-md-detail-push-svg, true);
        }
    }

    &.item-expanded {

        & > .item.item-block:first-child {
            border-color: transparent;

            .item-inner {
                border-bottom-color: transparent;
            }
        }

        & > a.item:first-child {

            .item-inner {
                background-size: 22px 14px;
                background-position-y: 20px;
            }

            &.item-ios .item-inner {
                @include svg-background-image("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path style='fill:#{$list-ios-border-color}' d='M 0,2 2,0 10,8 18,0 20,2 10,12 0,2 Z'/></svg>");
            }

            &.item-md .item-inner {
                @include svg-background-image("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path style='fill:#{$list-md-border-color}' d='M 0,2 2,0 10,8 18,0 20,2 10,12 0,2 Z'/></svg>");
            }
        }

        & > *:not(:first-child) {
            &.item.item-block {
                border-top-color: transparent;
            }
        }
    }

    &:not(.item-expanded) {

        & > *:not(:first-child) {
            display: none;
        }
    }
}
