ionx-select {
    display: flex;
    overflow: hidden;
    max-width: 45%;

    &.select-readonly {
        opacity: 1;

        .select-icon {
            display: none;
        }
    }

    &[multiple] .select-text {
        white-space: normal;
    }
}

.item-label-stacked ionx-select, .item-label-floating ionx-select {
    max-width: 100%;
    align-self: flex-start;
}

.app-root.platform-mobile:not(.platform-tablet) {
    .item-label-stacked ionx-select, .item-label-floating ionx-select {
        max-width: 100%;
        align-self: stretch;
    }
}


.ionx-select-modal {

    ion-list.list {
        margin: 0px;
        border: none;

        .item-block:first-child {
            border-top: none;
        }

        .item-block:last-child {
            border-bottom: none;
        }

        .checkbox.checkbox-md {
            margin-right: 20px;
            margin-left: 10px;
        }
    }

    ion-item-group:last-child:not(:first-child) {
        margin-top: $content-margin;
    }

    ion-footer.footer-ios .toolbar {
        border-top: none;
        padding: 0px;
    }

    ion-footer.footer-md .toolbar {
        padding: 0px;
    }
}

