:host {
    display: flex;
    align-items: center;

    ::ng-deep ion-toggle {
        padding-inline-start: 2px; padding-inline-end: 2px;
    }

    [ionx--on] {
        cursor: pointer; margin-left: 4px;
    }

    [ionx--off] {
        cursor: pointer;
        margin-right: 4px;
    }

}

:host-context(.item-label-stacked) {
    align-self: flex-start;
}

:host-context(.ios .item-label-stacked) {
    margin-top: 2px; margin-bottom: 2px;
}
