@mixin input-cover() {
    left: 0px;
    top: 0px;
    margin: 0px;

    position: absolute;

    width: 100%;
    height: 100%;

    border: 0;
    background: transparent;
    cursor: pointer;

    appearance: none;
    outline: none;

    &::-moz-focus-inner {
        border: 0;
    }
}
